*.bak
*.lst
*.o
*.obj
*.tmp

sources/.vs/*
sources/_VS/Kornet/.vs/*

sources/Kornet/DebugConfig/*
sources/Kornet/_obj/*
sources/Kornet/_lst/*

sources/S8-54/DebugConfig/*
sources/S8-54/S8-54/DebugConfig/*
sources/S8-54/obj/*
sources/S8-54/lst/*

sources/S8-53/DebugConfig/*
sources/S8-53/_obj/*
sources/S8-53/_lst/*


sources/_VS/Kornet/x64/*
sources/_VS/Kornet/Device/Debug/*
sources/_VS/Kornet/Device/Release/*
sources/_VS/Kornet/Device/x64/*
sources/_VS/Kornet/Device/.vs/*
sources/_VS/Kornet/DeviceBoot/Debug/*
sources/_VS/Kornet/DeviceBoot/Release/*
sources/_VS/Kornet/DeviceBoot/x64/*
sources/_VS/Kornet/Panel/Debug/*
sources/_VS/Kornet/Panel/Release/*
sources/_VS/Kornet/Panel/x64/*
sources/_VS/Kornet/PanelBoot/Debug/*
sources/_VS/Kornet/PanelBoot/Release/*
sources/_VS/Kornet/PanelBoot/x64/*

sources/_VS/S8-54/Boot54/Debug/*
sources/_VS/S8-54/Boot54/Release/*
sources/_VS/S8-54/Boot54/x64/*
sources/_VS/S8-54/Device54/Debug/*
sources/_VS/S8-54/Device54/Release/*
sources/_VS/S8-54/Device54/x64/*
sources/_VS/S8-54/.vs/*

sources/_VS/S8-53/Boot53/Debug/*
sources/_VS/S8-53/Device53/Debug/*

doc/Kornet/doxygen/Device/*
doc/Kornet/doxygen/Panel/*

doc/doxygen/S8-54/*

doc/S8-54/disk/*

sources/_VS/S8-54/Debug/*
